@import 'branding';

.contact-header{
    display: flex;
    justify-content: center;
    background-color: $secondary-color;
    border-bottom: 1px solid $title-color;
    padding: 13px 0 13px 0;
}
.contact-header-container{
    width: 90%;
    display: flex;
    justify-content: center;
}

.contact-header-container-grid{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-logo{
    width: 120px;
}

/*tablet*/

@media screen and (max-width: 1025px) and (min-width:601px){

    .contact-header{
        padding: 16px 0 16px 0;
    }  

}

/*desktop*/

@media screen and (min-width: 1026px){

    .contact-header{
        padding: 16px 0 16px 0;
    }  
      
}
