@import 'branding';

.contact-body{
    background-color: $primary-color;
    font-family: $font-text;
}

.contact-page{
    padding-top: 40px;
}

.contact{
    display: flex;
    justify-content: center;
 }

 .contact-container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
    text-align: center;
 }

 .contact-page-space{
    background-color: $primary-color;
 }

 /*form*/

 .form-block-1{
  float: left;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
 }

 .form-block-2{
  float: left;
  width: 100%;
  margin-bottom: 20px;
 }

.contact-form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
 }

 .contact-form-container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    padding: 25px 25px 32px 25px;
    background-color: $secondary-color;
    border: 1px solid $title-color;
    border-radius: 8px;
 }

 input, textarea{
    width: 100%;
    padding: 5px;
    border:1px solid $title-color;
    border-radius: 5px;
    background-color: $tertiary-color;
    font-size: 17px !important;
    color: $title-color;
 }

.submit-btn{
    @extend %btn;
    padding: 15px 25px 15px 25px;
    margin-top: 20px;
    border: none;

    &:hover {
        background-color: $hover;
    }

    &:active{
        background-color: $text-color;
    }
 }

 label{
    margin: 10px 0 5px 0;
    font-size: 17px;
    color: $text-color;
 }

 label:first-of-type{
    margin-top:0;
 }

 ::placeholder {
    color: $span-bg;
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: $span-bg;
  }

 /*tablet*/

 @media screen and (max-width: 1025px) and (min-width:601px) {

  .contact-body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

    .contact-page{
       padding-top: 50px;
       flex-grow: 1;
     }

    .contact{
        display: flex;
        justify-content: center;
     }

      /*form*/

      .contact-form-container{
        width: 600px;
      }

      .form-block-1{
        float: left;
        width: 47.9%;
        margin-right: 20px;
      }
      
      .form-block-2{
        float: left;
        width: 47.9%;
        margin-bottom: 20px;
      }

      input, textarea{
        font-size:18px !important;
      }

      ::placeholder{
        font-size:18px;
      }

      label{
        font-size: 18px;
      }

 }

 /*desktop*/

 @media screen and (min-width:1026px) {

    .contact-body{
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

     .contact-page{
        padding-top: 60px;
        flex-grow: 1;
    }

    .contact{
        display: flex;
        justify-content: center;
     }

      /*form*/

      .contact-form-container{
        width: 650px;
      }

      .form-block-1{
        float: left;
        width: 48%;
        margin-right: 20px;
      }
      
      .form-block-2{
        float: left;
        width: 48%;
        margin-bottom: 20px;
      }

      input, textarea{
        font-size:20px !important;
      }

      ::placeholder{
        font-size:20px;
      }

      .submit-btn{
        font-size: 18px !important;
      }

      label{
        font-size: 20px;
      }

 }