@import 'branding';

/*generale*/

.space{
    height: 90px;
}

.title-section{
    text-align: center;
}

.my-btn{
    @extend %btn;
    display: inline-block;
    padding: 15px 25px 15px 25px;

    &:hover {
        background-color: $hover;
    }

    &:active{
        background-color: $text-color;
    }
}

.type-2{
    @extend %btn-2;
    margin-left: 15px;

    &:hover {
        background-color: transparent;
        color: $hover;
    }

    &:active{
        color: $text-color;
    }
}

.updating-span-container{
    display: flex;
    justify-content: center;
}

.updating{
    color: $span-bg;
    font-size: 15px;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.fa-solid{
    margin-left: 3px;
}

/*section: above the fold*/

.above-the-fold{
    display: flex;
    justify-content: center;
}

.fold-container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column; 
    gap:50px;
}

.double-botton{
    margin-top: 30px;
}

.foto-profilo{
    border: 1px solid $title-color;
    border-radius: 300px;
    width: 100%;
}

/*section: skill*/

.skill{
    display: flex;
    justify-content: center;
}

.skill-container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column; 
    gap:20px;
    margin-top: 20px;
}

.skill-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    border: 1px solid $title-color;
    border-radius: 8px;
    background-color: $secondary-color;
}

.skill-img{
    margin-bottom: 20px;
    width: 35%;
}

.skill-level{
    background-color: $span-bg;
    padding: 2px 12px 2px 12px;
    border-radius: 3px;
    color: $secondary-color;
    font-size: 14px;
    margin-top: 5px;
}

/*section: job*/

.job{
    display: flex;
    justify-content: center;
}

.job-container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column; 
    gap:20px;
    margin-top: 20px;
}

.job-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    border: 1px solid $title-color;
    border-radius: 8px;
    background-color: $secondary-color;
}

.job-grid-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job-img{
    margin-bottom: 20px;
    width: 35%;
}

.job-grid-description{
    text-align: center;
}

.job-button{
    margin-left: 0;
 }

 /*section: contatti*/

 .cta{
    display: flex;
    justify-content: center;
 }

 .cta-container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
    text-align: center;
 }

 .cta-text{
    margin-bottom: 30px !important;
 }

/*tablet*/

@media screen and (max-width: 1025px) and (min-width:601px) {

    .space{
        height: 125px;
    }

    /*section: above the fold*/
    
    .fold-container{
        flex-direction:row;
        max-width: 85%;
        gap: 20px;
        align-items: center;
    }

    .fold-grid{
        width: 58%;
    }

    .fold-image{
        width: 38%;
        display: flex;
        justify-content: center;
    }

    .foto-profilo{
        width: 250px;
    }

    /*section: skill*/

    .skill-container{
        flex-direction:row;
        max-width: 85%;
        gap: 15px;
        align-items: stretch;
        justify-content: center;
    }

    .skill-grid{
        width: 31.8%;
        padding: 20px;
    }

    /*section: job*/

    .job-container{
        flex-direction:row;
        max-width: 85%;
        gap: 15px;
        align-items: stretch;
        justify-content: center;
    }

    .job-grid{
        display: flex;
        flex-direction: column;
        width: 48.8%;
        padding:25px;
    }

    .job-grid-image{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .job-grid-description{
        text-align: center;
    }

    .job-img{
        margin-bottom: 20px;
    }

    /*section: contatti*/

    .contact-container{
        width: 65%;
    }

    .cta-container{
        width: 70%;
    }

}

/*desktop*/

@media screen and (min-width: 1026px) {

    .space{
        height: 150px;
    }

    /*section: above the fold*/
    
    .fold-container{
        flex-direction:row;
        max-width: 1200px;
        gap: 40px;
        align-items: center;
    }

    .fold-grid{
        width: 63%;
    }

    .fold-image{
        width: 33%;
        display: flex;
        justify-content: center;
    }

    .foto-profilo{
        width: 350px;
    }

    .my-btn{
        font-size: 18px !important;
    }

    /*section: skill*/

    #skill{
        height: 175px;
    }

    .skill-container{
        flex-direction:row;
        max-width: 1200px;
        gap: 20px;
        align-items: stretch;
        justify-content: center;
    }

    .skill-grid{
        width: 32.1%;
        padding:25px;
    }

    /*section: job*/

    .job-container{
        flex-direction:row;
        max-width: 1200px;
        gap: 20px;
        align-items: stretch;
        justify-content: center;
    }

    .job-grid{
        display: flex;
        flex-direction: row;
        width: 49.1%;
        padding:25px;
    }

    .job-grid-image{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    
    .job-grid-description{
        text-align: start;
    }

    .job-img{
        width: 85%;
        margin-bottom: 0;
    }

}
